<!doctype html>
<html>
  <head>
    <title>Bargain sale in <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%></h1>
    <h1>Here are the bargain sales we have:</h1>
    
    <ul>
      <% searchedBooks.forEach(function(book) { %>
        <li>
            <strong><%= book.name %></strong> - £<%= parseFloat(book.price).toFixed(2) %>
        </li>
      <% }); %>
    </ul>

  </body>
</html>